
#container {   position: relative;
    width:960px; height:1200px;
      margin-left: auto ;
  margin-right: auto ;
}

h1{color:white;}

#industry{ position: relative;
    width:960px; height:400px;
      margin-left: auto ;
  margin-right: auto ;
	background: rgba(255,255,255,0.3);
	 filter: alpha(opacity=30);  }
	 
#featured{ position: relative; top:15px;
    width:470px; height:200px;
	background: rgba(255,255,255,0.3);
	 filter: alpha(opacity=30); float:left; border:solid black 2px; }
	 
#news{ position: relative; top: 15px;
    width:470px; height:200px;
	background: rgba(255,255,255,0.3);
	 filter: alpha(opacity=30); float:right;border:solid black 2px;}